<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>Name:</b>
  <%= @app.name %>
</p>

<p>
  <b>Url:</b>
  <%= @app.url %>
</p>

<p>
  <b>Code url:</b>
  <%= @app.code_url %>
</p>

<p>
  <b>Description:</b>
  <%= @app.description %>
</p>

<p>
  <b>Email:</b>
  <%= @app.email %>
</p>

</p>

<ol>
  <% @app.comments.each do |comment| %>
    <li><%= comment %></li>
  <% end %>
</ol>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>

