<p id="notice"><%= notice %></p>

<p></p>
<p>
  <b>Name:</b>
  <%= @app.name %>
</p>

<p>
  <b>Url:</b>
  <%= @app.url %>
</p>

<p>
  <b>Code url:</b>
  <%= @app.code_url %>
</p>

<p>
  <b>Description:</b>
  <%= @app.description %>
</p>

<p>
  <b>Email:</b>
  <%= @app.email %>
</p>

</p>

<h2>Comments</h2>

<%= render 'comments/form' %>
<%= render 'comments/comments_index' %>

<!-- <ol> -->
  <!-- <% @app.comments.each do |comment| %> -->
    <!-- <li><%= comment.content %></li> -->
  <!-- <% end %> -->
<!-- </ol> -->

