<p id="notice"><%= notice %></p>

<div class="container new-form">
  <div class="show-header">
    <h>Name:</h>
    <p></p>
    <p><%= @app.name %></p>
  </div>
  
  <div class="show-header">
    <h>Url:</h>
    <p></p>
    <p><a href="<%= @app.url %>"><%= @app.url %></a></p>
  </div>
  
  <div class="show-header">
    <h>Code url:</h>
    <p></p>
    <p><a href="<%= @app.code_url %>"><%= @app.code_url %></a></p>
  </div>
  
  <div class="show-header">
    <h>Description:</h>
    <p></p>
    <p><%= @app.description %></p>
  </div>

  <div class="show-header">
    <h>Props</h>
    <p></p>
    <p><a href="#" class="btn">Give Props!</a></p>
  </div>
  
  <div class="show-header">
    <h>Email:</h>
    <p></p>
    <p><a href="mailto:<%= @app.email %>"></a><%= @app.email %></p>
  </div>

  <div class="container span8">
    <%= render 'comments/form' %>
  </div>
  <div class="container span10">
    <%= render 'comments/comments_index' %>
  </div>


</div>

<!-- <ol> -->
  <!-- <% @app.comments.each do |comment| %> -->
    <!-- <li><%= comment.content %></li> -->
  <!-- <% end %> -->
<!-- </ol> -->

